@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-surface text-text-primary font-sans;
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
    line-height: 1.4;
  }
}

@layer utilities {
  .card-border {
    border: 0.5px solid theme("colors.border.DEFAULT");
  }
}
